.rob {
  border: 1px solid transparent;
  border-color: #C30C21;
  border-radius: 4px;
}

.senca {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

telo {
  flex: 1;
  overflow: visible;
  margin: 10px;
  height: 100%;
  width: 100%;
  padding-bottom: 70%;
  display: inline-block;
  background-color: lightgrey;
}

#startButton {
  cursor:pointer;
}
